<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
use Doctrine\DBAL\Driver\PDOMySql\Driver as PDOMySqlDriver;

$host = '61.12.69.67';
$db = 'stephenox';
$username = 'stephen';
$password = 'stephen321!';

if(isset($_ENV['ENV']) && $_ENV['ENV'] == 'test'){
    $host = '127.0.0.1';
    $db = "va_test";
    $username = "user";
    $password = "'password";
}

return [
	'db' => [
    	'driver' => 'Pdo_Mysql',
        'database' => $db,
        'username' => $username,
        'password' => $password,
    	'dsn' => 'mysql:dbname=' . $db . ';host=' . $host . ';charset=utf8;username=' . $username . ';password=' . $password,
    ],

];