<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link href= "./css/divebtemplate_css.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="./AgentInfo.js"></script>
<script type="text/javascript" src="./js/moment.js"></script>
<script>
  function subst() {
      var vars = {};
      var data = {};
      var split = {};

      var query_strings_from_url = document.location.search.substring(1).split('&');
      for (var query_string in query_strings_from_url) {
          if (query_strings_from_url.hasOwnProperty(query_string)) {
              var temp_var = query_strings_from_url[query_string].split('=', 2);
              vars[temp_var[0]] = unescape(temp_var[1]);
          }
      }
      // document.getElementById("test").textContent = query_strings_from_url;
      var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages','start_date','license_number','business_name','business_city','business_state','business_country','business_zip','certificate_no','business_padi','end_date','policy_id','business_address1','business_address2','update_date','state_in_short','padi','carrier'];
      for (var css_class in css_selector_classes) {
          if (css_selector_classes.hasOwnProperty(css_class)) {
            var element = document.getElementsByClassName(
              css_selector_classes[css_class]
            );
            for (var j = 0; j < element.length; ++j) {
              element[j].textContent = vars[css_selector_classes[css_class]];
            }
            if (css_selector_classes[css_class] == "update_date") {
              document.getElementsByClassName(
                "update_date"
              )[0].textContent = moment(
                vars[css_selector_classes[css_class]]
              ).format("D MMMM YYYY");
            }
            if (css_selector_classes[css_class] == "end_date") {
              document.getElementsByClassName("end_date")[0].textContent =
                moment(vars[css_selector_classes[css_class]]).format(
                  "D MMMM YYYY"
                ) + " - 12:01:00 AM";
            }
          }
        }
      agentInfo();
  }
  </script>





</head>
<body onload="subst()" id = "doc_body">  
 <div class = "main_div">
	       	  <hr class="line1"></hr>
      		<div class="spacer"></div>
      		<hr class="line2"></hr>

      		<div class="title1"><center><b>DIVE BOAT MARINE ENDORSEMENT PROPOSAL</b></center></div>

          <hr class="line1"></hr>
          <div class="spacer"></div>
          <hr class="line2"></hr>

    <div class = "content">
      <div class ="endo_content1">
          <b class = "caption">Agent Information</b>
          <div class = "caption1">
            <p class ="endo_info" id = "nameVal"></p>
            <p class ="endo_info1" id = "addressLineVal"></p>
						<p class ="info" id = "addressLine2Val"></p>
           <p class ="info" style="margin-bottom:2px;"><span id= "phone1Val"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFAX <span id= "faxVal"></span></p>
            <p class ="info" id = "phone2Val" style="margin-bottom:2px;"></p>
           </div>
          <hr class ="hr_caption"></hr>
          <b class = "caption2">Insured's Name and Mailing Address:</b>
          <p class = "details"><span class ="business_name"></span></p>
          <p class = "details"><span class ="business_address1"></span></p>
          <p class = "details"><span class ="business_address2"></span></p>
          <p class = "details"><span class ="business_city"></span>, <span class ="state_in_short"></span> <span class ="business_zip"></span></p>
          <p class = "details"><span class ="business_country"></span></p>
      </div>
      <div class ="endo_content2">
        <div class = "certificate_data">
          <p class = "p_margin"><b>Member #:</b></p>
          <p class = "p_margin"><b>Effective Date:</b></p>
          <p class = "p_margin"><b>Expiration Date:</b></p>
          <p class = "p_margin"><b>Policy issued by:</b></p>
          <p class = "p_margin"><b>Policy #:</b></p>
        </div>
        <div class = "certificate_data1">
          <p class = "p_margin"><span class ="padi"></p>
          <p class = "p_margin"><span class ="update_date"></p>
          <p class = "p_margin"><span class ="end_date"></p>
          <p class = "p_margin"><span class ="carrier"></p>
          <p class = "p_margin"><span class ="policy_id"></p>
        </div>
      </div>
      </div>
    </div>
  </div>
      <div class = "page_value">
             <p class ="page_no">Page <span class="page"></span> of <span class="topage"></span></p>
             <hr class = "endo_para"></hr>   
             <center><p class = "endo_para" style = "font-size: 13px;"><b>The above is required to be completed only when this endorsement is issued subsequent to the preparation of the policy</b></p></center>
             <hr class = "endo_para"></hr>
    </div>
</body>
</html>
