<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link href= "./css/divebtemplate_css.css" rel="stylesheet" type="text/css" />
</head>
<body>         
	<div class ="quote_div" id="quote_div">
       	<hr class="line1"></hr>
      		<div class="spacer"></div>
      		<hr class="line2"></hr>
      		<div class="title1"><center><b>DIVE BOAT MARINE PROPOSAL</b></center></div>
      		<hr class="line1"></hr>
      		<div class="spacer"></div>
      		<hr class="line2"></hr>
  <div>
</body>
</html>

