<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link href= "./css/divebtemplate_css.css" rel="stylesheet" type="text/css" />
</head>
<body>         
	<div>
		<hr class = "hrtag"></hr>
   		<div class="c_info">
	     	<div class = "c_info1">
	       		<p class = "p_margin"><span class = "box">&nbsp&nbsp&nbsp&nbsp</span>Pay by Check or Money Order</p>
	      	    <p class = "p_margin1">Make payable to (U.S. funds only): <b>HUB INTERNATIONAL</b></p>
	       		<p class = "p_margin">&nbsp</p>
	       		<p class = "p_margin">&nbsp</p>
	     	</div>
	    	<div class="c_info2">
	       		<p class = "p_margin"><span class = "box">&nbsp&nbsp&nbsp&nbsp</span><span class ="box_name">VISA</span><span class = "box">&nbsp&nbsp&nbsp&nbsp</span><span class ="box_name">MasterCard</span><span class = "box">&nbsp&nbsp&nbsp&nbsp</span><span class ="box_name">American Express</span>

	       			<p class = "p_margin2">Card Number:   <span class = "span_line">____________________________</span></p>
		       		<p class = "p_margin">Expiration Date: <span class = "span_line">______________</span>CVV2:<span class = "span_line">________</span></p>
		       		<p class = "p_margin">Card Holder Name (Print) : <span class = "span_line">__________________</span></p>
	       		
			</div>
   		</div>
       	<hr class="footer_line1"></hr>
      	<p class = "footer_para">1.	This proposal is a summary of the coverage offered.  It does not replace the policy, and any discrepancies between this proposal and the policy, the actual policy language will apply.</p>
      	<p class = "footer_para"> 2. I accept this proposal and understand that coverage is not bound until the premium is paid and coverage is accepted by the insurance company.</p>
      	<div class = "footer-v">
      		<div class ="footer-1">
		     	<div class ="sign">Signature: &nbsp&nbsp&nbsp ________________________________________</div>
	
		   </div>
  		   <div class = "footer-2">
  	   			<div class = "date1">Date: &nbsp&nbsp&nbsp ________________________</div>	
   		   </div>
 		</div>
  <div>
</body>
</html>

