<!DOCTYPE html>
<html>
<head>
  <link href= "./css/divestemplate_css.css" rel="stylesheet" type="text/css" />
  <script>
  function subst() {
        var vars = {};
        var css_selector_classes = [];
        var query_strings_from_url = document.location.search.substring(1).split('&');
        for (var query_string in query_strings_from_url) {
            if (query_strings_from_url.hasOwnProperty(query_string)) {
                var temp_var = query_strings_from_url[query_string].split('=', 2);
                vars[temp_var[0]] = unescape(temp_var[1]);
                css_selector_classes.push(temp_var[0]);
            }
        }

        // var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages', 'reference','start_date'];
        for (var css_class in css_selector_classes) {
            if (css_selector_classes.hasOwnProperty(css_class)) {
                var element = document.getElementsByClassName(css_selector_classes[css_class]);
                for (var j = 0; j < element.length; ++j) {
                    element[j].textContent = vars[css_selector_classes[css_class]];
                }
            }
        }
    }
  </script>
</head>
<body class="footer_html" onload="subst()">
  <hr class = "hr_value"></hr>
  <p class ="footer_note">NOTE: Professional and Instructors Liability is EXCLUDED under this policy. This coverage must be purchased under a separate Instructors
Liability Insurance Policy. This Insurance is subject to all terms and conditions of the master policy to and held by PADI. A copy of the policy
wording is attached to this certificate. Please read this document including its limitations, conditions and wording.</p>
<hr class = "hr_value"></hr>
  <div class= "footer" id="footer">
      <span class = "footer1">
        Issued on behalf of:
        <p><span class="liability_carrier"></span></p>
       <p style = "font-size: 13px;">Page <span class="page"></span> of <span class="topage"></span></p>
      </span>
      <span class = "footer2">
        Date
        <p><span class="start_date"></span></p>
      </span>
      <span class = "footer3">
        <center>
          <p class = "footer_title">Authorized Representative</p>
          <img class="img" height = "40" width ="200" src = "./image/brian_jondle.png"/>
          <hr class = "hrtag2"></hr>
          Brian Jondle
        </center>
      </span>
  </div>
</body>
</html>
