<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link href="./css/template_css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./AgentInfo.js"></script>
    <script type="text/javascript" src="./js/moment.js"></script>
    <script>
      function subst() {
        var vars = {};
        var data = {};
        var split = {};

        var query_strings_from_url = document.location.search
          .substring(1)
          .split("&");
        for (var query_string in query_strings_from_url) {
          if (query_strings_from_url.hasOwnProperty(query_string)) {
            var temp_var = query_strings_from_url[query_string].split("=", 2);
            vars[temp_var[0]] = unescape(temp_var[1]);
          }
        }
        var css_selector_classes = [
          "page",
          "frompage",
          "topage",
          "webpage",
          "section",
          "subsection",
          "date",
          "isodate",
          "time",
          "title",
          "doctitle",
          "sitepage",
          "sitepages",
          "start_date",
          "license_number",
          "firstname",
          "lastname",
          "city",
          "state",
          "country",
          "zipcode",
          "certificate_no",
          "padi",
          "end_date",
          "policy_id",
          "address1",
          "address2"
        ];
        for (var css_class in css_selector_classes) {
          if (css_selector_classes.hasOwnProperty(css_class)) {
            var element = document.getElementsByClassName(
              css_selector_classes[css_class]
            );
            for (var j = 0; j < element.length; ++j) {
              element[j].textContent = vars[css_selector_classes[css_class]];
            }
            if (css_selector_classes[css_class] == "start_date") {
              document.getElementsByClassName(
                "start_date"
              )[0].textContent = moment(
                vars[css_selector_classes[css_class]]
              ).format("D MMMM YYYY");
            }
            if (css_selector_classes[css_class] == "end_date") {
              document.getElementsByClassName("end_date")[0].textContent =
                moment(vars[css_selector_classes[css_class]]).format(
                  "D MMMM YYYY"
                ) + " - 12:01:00 AM";
            }
          }
        }
        agentInfo();
      }
    </script>
  </head>
  <body onload="subst()" id="doc_body">
    <div class="main_div_ai">
      <hr class="line1" />
      <div class="spacer"></div>
      <hr class="line2" />
      <center>
        <div class="title1"><b>PADI PROFESSIONAL LIABILITY</b></div>
        <div class="title2"><b>ADDITIONAL INSURED(S) ENDORSEMENT</b></div>
      </center>
      <hr class="line1" />
      <div class="spacer"></div>
      <hr class="line2" />
    </div>
    <div>&nbsp</div>
  </body>
</html>