<!DOCTYPE html>
<html>
<head>
	
	<link href= "./css/template_css.css" rel="stylesheet" type="text/css" />
</head>
<body class="footer_html">
	<div class= "footer" id="footer">
    <center><b><p class = "p_border">This certificate does not amend, extend or alter the coverage afforded by the policy referenced on this certificate.</p></b></center>	<hr></hr>
			<span class = "footer1">
				Issued on behalf of:
				<p>Tokio Marine Specialty Insurance Company</p>
			</span>
			<span class = "footer2">
				<center>
					<p class = "footer_title">Authorized Representative</p>
					<img class="img" height = "40" width ="200" src = "./image/brian_jondle.png"/>
					<hr class = "hrtag2"></hr>
					Brian Jondle
				</center>
			</span>
	</div>

</body>
</html>
