<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link href= "./css/template_css.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="./AgentInfo.js"></script> 
<script type="text/javascript" src="./js/moment.js"></script>

<script>
  function subst() {
      var vars = {};
      var data = {};
      var split = {};

      var query_strings_from_url = document.location.search.substring(1).split('&');
      for (var query_string in query_strings_from_url) {
          if (query_strings_from_url.hasOwnProperty(query_string)) {
              var temp_var = query_strings_from_url[query_string].split('=', 2);
              vars[temp_var[0]] = unescape(temp_var[1]);
          }
      }
      // document.getElementById("test").textContent = query_strings_from_url;
     var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages','start_date','license_number','business_name','business_city','business_state','business_country','business_zip','group_certificate_no','business_padi','end_date','group_policy_id','business_address1','business_address2','combinedSingleLimit','annualAggregate','state_in_short','padi','group_carrier','dba'];
      for (var css_class in css_selector_classes) {
          if (css_selector_classes.hasOwnProperty(css_class)) {
            var element = document.getElementsByClassName(
              css_selector_classes[css_class]
            );
            for (var j = 0; j < element.length; ++j) {
              element[j].textContent = vars[css_selector_classes[css_class]];
            }
            if (css_selector_classes[css_class] == "start_date") {
              document.getElementsByClassName(
                "start_date"
              )[0].textContent = moment(
                vars[css_selector_classes[css_class]]
              ).format("D MMMM YYYY") + " - 12:01:00 AM";
            }
            if (css_selector_classes[css_class] == "end_date") {
              document.getElementsByClassName("end_date")[0].textContent =
                moment(vars[css_selector_classes[css_class]]).format(
                  "D MMMM YYYY"
                ) + " - 12:01:00 AM";
            }
            if (css_selector_classes[css_class] == "groupCombinedSingleLimit") {
              document.getElementsByClassName("groupCombinedSingleLimit")[0].textContent = vars[css_selector_classes[css_class]].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }    
            if (css_selector_classes[css_class] == "groupAnnualAggregate") {
              document.getElementsByClassName("groupAnnualAggregate")[0].textContent = vars[css_selector_classes[css_class]].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }   
            if (css_selector_classes[css_class] == "dba") {
                if(vars['dba'] != ""){
                  document.getElementById("dbaName").style.display = "block";
                }
            }         
          }
        }
      agentInfo();
  }
  </script>
</head>
<body onload="subst()">  
 <div class = "main_group">

    <div id = "test"></div>
            <hr class="line1"></hr>
          <div class="spacer"></div>
          <hr class="line2"></hr>

          <center><div class="grp_title1"><b>GROUP PROFESSIONAL CERTIFICATE OF INSURANCE</b></div></center>
         <div class="title2">
            <div class = "claims_title">
               <p class ="grp_claims"><b>CLAIMS MADE FORM</b></p>
            </div>
            <div class = "page_value">
               <p class ="page_no">Page <span class="page"></span> of <span class="topage"></span></p>
            </div>
          </div>
          <hr class="line1"></hr>
          <div class="spacer"></div>
          <hr class="line2"></hr>

    <div class = "gcontent">
      <div class ="content1">
          <b class = "grp_caption">Agent information</b>
          <div class = "grp_caption1">
            <p class ="grp_info1" id="nameVal"></p>
            <p class ="grp_info2" id ="addressLineVal"></p>
						<p class ="grp_info2" id = "addressLine2Val"></p>
            <p class ="grp_info"><span id= "phone1Val"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFAX <span id= "faxVal"></span></p>
            <p class ="grp_info" id ="phone2Val"></p>
            <p class = "grp_info">License#: <span class = "license_number"></span></p>
          </div>
          <b class = "grp_caption2">Named Insured and Mailing Address:</b>
          <p class = "grp_details"><span class ="business_name"></p>
          <p class = "details" id = "dbaName" style = "display:none;">DBA:<span class ="dba"></span></p>
          <p class = "grp_details"><span class ="business_address1"></span></p>
          <p class = "grp_details"><span class ="business_address2"></span></p>
          <p class = "grp_details"><span class ="business_city"></span>, <span class ="state_in_short"></span> <span class ="business_zip"></span></p>
          <p class = "grp_details"><span class ="business_country"></span></p>
      </div>
      <div class ="content2">
        <div class = "certificate_data">
          <p class = "grpp_margin"><b>Certificate #:</b></p>
          <p class = "grpp_margin"><b>Member #:</b></p>
          <p class = "grpp_margin"><b>Effective Date:</b></p>
          <p class = "grpp_margin"><b>Expiration Date:</b></p>
        </div>
        <div class = "certificate_data1">
          <p class = "grpp_margin"><span class ="group_certificate_no"></span></p>
          <p class = "grpp_margin"><span class ="padi"></span></p>
          <p class = "grpp_margin"><span class ="start_date"></span></p>
          <p class = "grpp_margin"><span class ="end_date"></span></p>
        </div>
        <div>
          <hr></hr>
          <p class = "grpp_margin">Policy issued by &nbsp<span class ="group_carrier"></span></p>
          <p class = "grpp_margin">Policy #: <span class ="group_policy_id"></span></p>
        </div>
      </div>
      </div>
    </div>
    <hr class="grp_hr_value"></hr>
      <div class="gi_type">
        <hr class="ghr_value"></hr>
          <div class="gi_type1">
            <div class = "in-type">
               <b class = "ins_type">Type of Insurance</b>
               <div class = "ins_data" style="margin-top: 10px;">
                 <p class = "grpins_font"><b>COMBINED SINGLE LIMIT:</b></p>
                 <p class = "grpins_font"><b class = "space">ANNUAL AGGREGATE:</b></p>
               </div>
            </div>
            <div class = "gin-type1"> 
                <p class = "ins_type"  style="margin-bottom: 10px;margin-left:1px;">Professional Liability</p>
                  <p class = "grpins_font">$<span class ="groupCombinedSingleLimit"></span>&nbsp&nbsp&nbsp(per occurrence)</p>
                  <p class = "grpins_font">$<span class ="groupAnnualAggregate"></span></p>
            </div>
          </div>
          <div class="gi_type2">
           &nbsp
          </div>
        </div>
      <hr class="ghrtag_efr"></hr>
      <center><p class = "gpolicy_notice1">Retro Date: <span class ="start_date"></span>, or the first day of uninterrupted coverage,whichever is earlier (refer to section VI of the policy). However, in no case will the retro date be prior to 6/30/1992. In the event of a claim which invokes a Retroactive Date prior to <span class ="start_date"></span>, the Certificate Holder must submit proof of uninterrupted insurance coverage dating prior to the date that the alleged negligent act, error, or omission occurred.
    </p></center>
    <hr class = "hr_efr"></hr>
  </div>
</body>
</html>
