<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <link href="./css/template_css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./AgentInfo.js"></script>
    <script type="text/javascript" src="./js/moment.js"></script>
    <script>
        function subst() {
            var vars = {};
            var data = {};
            var split = {};

            var query_strings_from_url = document.location.search.substring(1).split('&');
            for (var query_string in query_strings_from_url) {
                if (query_strings_from_url.hasOwnProperty(query_string)) {
                    var temp_var = query_strings_from_url[query_string].split('=', 2);
                    vars[temp_var[0]] = unescape(temp_var[1]);
                }
            }
            var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section',
                'subsection', 'cancelDate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages',
                'start_date', 'license_number', 'firstname', 'lastname', 'city', 'state',
                'country', 'zip', 'certificate_no', 'padi', 'end_date', 'policy_id',
                'address1', 'address2', 'single_limit', 'annual_aggregate', 'carrier', 'product',
                'liability_policy_id', 'property_policy_id', 'liability_carrier', 'property_carrier',
                'group_carrier', 'group_policy_id', 'carrierName', 'propCarrierName', 'groupCarrierName', 'policyId', 'propPolicyId', 'groupPolicyId','reinstateDate','coverageTitle'
            ];

            for (var css_class in css_selector_classes) {
                if (css_selector_classes.hasOwnProperty(css_class)) {
                    var element = document.getElementsByClassName(
                        css_selector_classes[css_class]
                    );
                    for (var j = 0; j < element.length; ++j) {
                        element[j].textContent = vars[css_selector_classes[css_class]];
                    }
                    if (css_selector_classes[css_class] == "start_date") {
                        document.getElementsByClassName(
                            "start_date"
                        )[0].textContent = moment(
                            vars[css_selector_classes[css_class]]
                        ).format("DD MMMM YYYY") + " - 12:01:00 AM";
                    }
                    if (css_selector_classes[css_class] == "reinstateDate") {
                        document.getElementsByClassName(
                            "reinstateDate"
                        )[0].textContent = moment(
                            vars[css_selector_classes[css_class]]
                        ).format("DD MMMM YYYY");
                    }

                    if (css_selector_classes[css_class] == "end_date") {
                        document.getElementsByClassName("end_date")[0].textContent =
                            moment(vars[css_selector_classes[css_class]]).format(
                                "DD MMMM YYYY"
                            ) + " - 12:01:00 AM";
                    }
                    document.getElementsByClassName("padi_no")[0].textContent = vars[vars['identifier_field']];

                }
            }
            agentInfo();
        }
    </script>
</head>

<body onload="subst()">
    <div class="main_group">
        <center>
            <div class="title1"><b>REINSTATEMENT NOTICE</b></div>
        </center>
        <div class="spacer"></div><br>

        <div class="gcontent1">
            <div class="content1">
                <b class="grp_caption">Agent information</b>
                <div class="grp_caption1">
                    <p class="grp_info3" id="nameVal"></p>
                    <p class="grp_info2" id="addressLineVal"></p>
                    <p class="info" id="addressLine2Val"></p>
                    <p class="grp_info" style="margin-bottom:2px;"><span id="phone1Val"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFAX <span id="faxVal"></span></p>
                    <p class="grp_info" style="margin-bottom:2px;" id="phone2Val"></p>
                    <p class="grp_info">License#: <span class="license_number"></span></p>
                </div>
                <hr align="left" width="80%"></hr>
                <b class="grp_caption2">Insured's Name and Mailing Address:</b>
                <p class="grp_details"><span class="firstname"></span>&nbsp<span class="lastname"></span></p>
                <p class="grp_details"><span class="address1"></span></p>
                <p class="grp_details"><span class="address2"></span></p>
                <p class="grp_details"><span class="city"></span>, <span class="state"></span> &nbsp<span class="zip"></span></p>
                <p class="grp_details"><span class="country"></span></p>
                <div class="p_margin1">&nbsp</div>
                <div class="p_margin1">&nbsp</div>
                <div class="p_margin1">&nbsp</div>
            </div>
            <div class="content2">
                <div class = "certificate_data">
                    <p class = "grpp_margin"><b>Date:</b></p>
                    <p class = "grpp_margin"><b>Certificate #:</b></p>
                    <p class = "grpp_margin"><b>Member #:</b></p>
                    <p class = "grpp_margin"><b>Effective Date</b></p>
                    <p class = "grpp_margin"><b>Expiration Date:</b></p>
                  </div>
                  <div class = "certificate_data1">
                    <p class = "grpp_margin"><span class ="reinstateDate"></span></p>
                    <p class = "grpp_margin"><span class ="certificate_no"></span></p>
                    <p class = "grpp_margin"><span class ="padi_no"></span></p>
                    <p class = "grpp_margin"><span class ="start_date"></span></p>
                    <p class = "grpp_margin"><span class ="end_date"></span></p>
                </div>
                <hr width="550px"></hr><br>
            </div>
            <p class="p_margin1 policyfont"><span class="carrierName"></span></p>
            <p class="p_margin1 policyfont"><span class="policyId"></span></p>
            <p class="p_margin1 policyfont"><span class="propCarrierName"></span></p>
            <p class="p_margin1 policyfont"><span class="propPolicyId"></span></p>
            <p class="p_margin1 policyfont"><span class="groupCarrierName"></span></p>
            <p class="p_margin1 policyfont"><span class="groupPolicyId"></span></p>
            <p class="p_margin1"></p>
            <p class="p_margin1"></p>
        </div>
    </div>
    <div style = "margin-top: 33%;">&nbsp</div>
</body>

</html>