<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link href= "./css/divebtemplate_css.css" rel="stylesheet" type="text/css" />
</head>
<body>         
	<div>
		<hr class = "hrtag"></hr>
		<center><p class = 'r_footerTitle1'><b>EXCLUSIONS</b></p></center>
		<center><p class = 'r_footerTitle'>(see reverse)</p></center>
      	<p class = "footer_para">I hereby declare that I have read,understand and acknowledge the Exclusions printed on the reverse. I also understand that the limits of liability declared on the certificate of insurance apply to all staff members</p>
      	<div class = "footer-v1">
      		<div class ="footer-1">
		     	<div class ="sign">Signature: &nbsp&nbsp&nbsp ________________________________________</div>
	
		   </div>
  		   <div class = "footer-2">
  	   			<div class = "date1">Date: &nbsp&nbsp&nbsp ________________________</div>	
   		   </div>
 		</div>
    <div>
</body>
</html>

