/api/v1/vendor
**composer.lock
**/logs
/api/v1/build
/api/v1/Doc
/integrations/smtp/target/*
/api/v1/data/uploads/*
**/.idea/*
**package-lock.json
*.env
/api/v1/data/template/cache
/api/v1/data/template/templates_c
/integrations/openproject/export
/build/
/.project
/api/v1/composer/
