/api/v1/vendor
**composer.lock
**/logs
/api/v1/build
/api/v1/Doc
/integrations/smtp/target/*
/api/v1/data/uploads/*
/api/v1/data/AppSource/*
/api/v1/data/AppDeploy/*
**/.idea/*
**package-lock.json
*.env
/api/v1/data/template/cache
/api/v1/data/template/templates_c
/integrations/openproject/export
/build/
/.project
/api/v1/composer/
/.history/
/api/v1/.vscode/*
.vscode/*
/integrations/smtp/smtp-server/outbox/
/integrations/smtp/smtp-server/smtp.log
/integrations/camel/.project
/integrations/camel/.settings/org.eclipse.buildship.core.prefs
/integrations/workflow/ProcessEngine/.project
/integrations/workflow/IdentityService/.classpath
/integrations/workflow/IdentityService/.settings/org.eclipse.buildship.core.prefs
/integrations/workflow/ProcessEngine/bin/
/setup/mysql/*
/view/view_built
view/node_modules/*
/clients/DiveInsurance/view/apps/DiveInsurance/dist/
/clients/DiveInsurance/view/apps/DiveInsurance/node_modules/
/clients/EOXAppBuilder/view/apps/EOXAppBuilder/dist/
/clients/EOXAppBuilder/view/apps/EOXAppBuilder/node_modules/
*.DS_Store
