<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinter">
    <testsuites>
        <testsuite name="Messaging Fixtures Fixtures">
            <directory>./module/Auth/test</directory>
        </testsuite>
        <testsuite name="Messaging Fixtures Fixtures">
            <directory>./module/Messaging/test</directory>
        </testsuite>
        <testsuite name="Attachment Fixtures">
            <directory>./module/Attachment/test</directory>
            <directory>./module/Resource/test</directory>
        </testsuite> 
        <testsuite name="Analytics Fixtures">
            <directory>./module/Analytics/test</directory>
            <directory>./module/FileIndexer/test</directory>
        </testsuite>
        <testsuite name="Home Page Fixtures">
            <directory>./module/Announcement/test</directory>
            <directory>./module/Project/test</directory>
        </testsuite>
        <testsuite name="Roles Fixtures">
            <directory>./module/Role/test</directory>
        </testsuite>
        <testsuite name="Kra Fixtures">
            <directory>./module/Kra/test</directory>
        </testsuite>
        <testsuite name="Profile Fixtures">
            <directory>./module/Profile/test</directory>
        </testsuite>
        <testsuite name="App Fixtures">
            <directory>./module/App/test/Controller/App/AppArtifactControllerTest.php</directory>
            <directory>./module/App/test/Controller/App/AppControllerTest.php</directory>
            <directory>./module/App/test/Controller/AppView</directory>
            <directory>./module/App/test/Controller/Cache</directory>
            <directory>./module/App/test/Controller/Delegate</directory>
            <directory>./module/App/test/Controller/Document</directory> 
            <directory>./module/App/test/Controller/Entity/EntityControllerTest.php</directory>
            <directory>./module/App/test/Controller/Entity/FieldControllerTest.php</directory>
            <directory>./module/App/test/Controller/Entity/FileControllerTest.php</directory>
            <directory>./module/App/test/Controller/Entity/FormControllerTest.php</directory>
            <directory>./module/App/test/Controller/Job</directory>
            <directory>./module/App/test/Controller/Pipeline</directory>
            <directory>./module/App/test/Controller/Workflow</directory> 
        </testsuite>
        <testsuite name="App Fixtures">
            <directory>./module/Workflow/test/Controller/ActivityInstanceControllerTest.php</directory>
            <directory>./module/Workflow/test/Controller/ServiceTaskControllerTest.php</directory>
            <directory>./module/Workflow/test/Controller/WorkflowInstanceCallbackControllerTest.php</directory>
            <directory>./module/Workflow/test/Controller/WorkflowInstanceControllerTest.php</directory>
        </testsuite>
        <testsuite name="Core Fixtures">
            <directory>./lib/Oxzion/test/AnalyticsTest</directory>
            <directory>./lib/Oxzion/test/AppDelegateServiceTest</directory>
            <directory>./lib/Oxzion/test/DocumentTest</directory> 
            <directory>./lib/Oxzion/test/Migration</directory>
            <directory>./lib/Oxzion/test/NLPTest</directory>
            <directory>./lib/Oxzion/test/ParserTest</directory>
            <directory>./lib/Oxzion/test/PDFFillTest</directory>
            <directory>./lib/Oxzion/test/TemplateTest</directory>
            <directory>./lib/Oxzion/test/ValidationTest</directory>
            <directory>./lib/Oxzion/test/WorkflowTest</directory>
            <directory>./lib/Oxzion/test/Service/AppServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/FileServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/FormServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/PrivilegeServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/TemplateServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/UserServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/EmployeeServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/UserTokenServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/WorkflowInstanceServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/WorkflowServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/BusinessRoleServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/EsignServiceTest.php</directory>
            <directory>./lib/Oxzion/test/Service/ProjectServiceTest.php</directory>
        </testsuite>
        <testsuite name="Callback Fixtures">
            <directory>./module/Callback/test</directory>
        </testsuite>
        <testsuite name="User Fixtures">
            <directory>./module/Account/test</directory> 
            <directory>./module/Alert/test</directory>
            <directory>./module/User/test/Controller/ForgotPasswordControllerTest.php</directory>
            <directory>./module/User/test/Controller/ProfilePictureControllerTest.php</directory>
            <directory>./module/User/test/Controller/UserControllerTest.php</directory>
            <directory>./module/User/test/Controller/UserSessionControllerTest.php</directory>
            <directory>./module/Email/test</directory>
            <directory>./module/Team/test</directory>
            <directory>./module/Contact/test</directory>
            <directory>./module/Privilege/test</directory>
            <directory>./module/PaymentGateway/test</directory>
        </testsuite> 
        <testsuite name="Esign Fixtures">
            <directory>./module/Esign/test</directory>
        </testsuite>    
        <testsuite name="Form File Fixtures">
            <directory>./module/File/test</directory>
        </testsuite> 
    </testsuites> 
    <php>
        <ini name="memory_limit" value="500M" />
        <const name="enableNLP" value="0"/>
        <const name="enableCamunda" value="0"/>
        <const name="enableElastic" value="0"/>
        <const name="enableMattermost" value="0"/>
        <const name="enableActiveMQ" value="0"/>
        <const name="enableCamel" value="0"/>
        <const name="enableProspectResearch" value="0"/>
        <const name="enableCamundaForDeployApp" value="0"/>
        <const name="enableExecUtils" value="0"/>
        <const name="enableEsign" value="0"/>
    </php>
    <listeners>
        <listener class="\MyBuilder\PhpunitAccelerator\TestListener"/>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
</phpunit>
