<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinter">
    <testsuites>
        <testsuite name="Messaging Fixtures Fixtures">
            <directory>./module/Messaging/test</directory>
        </testsuite>
        <testsuite name="Attachment Fixtures">
            <directory>./module/Attachment/test</directory>
            <directory>./module/Resource/test</directory>
        </testsuite>
        <testsuite name="Analytics Fixtures">
            <directory>./module/Analytics/test</directory>
            <directory>./module/FileIndexer/test</directory>
        </testsuite>
        <testsuite name="Home Page Fixtures">
            <directory>./module/Auth/test</directory>
            <directory>./module/Screen/test</directory>
            <directory>./module/Announcement/test</directory>
            <directory>./module/Widget/test</directory>
            <directory>./module/Project/test</directory>
        </testsuite>
        <testsuite name="Roles Fixtures">
            <directory>./module/Role/test</directory>
        </testsuite>
        <testsuite name="App Fixtures">
            <directory>./module/App/test</directory>
            <directory>./module/Workflow/test</directory>
        </testsuite>
        <testsuite name="Core Fixtures">
            <directory>./lib/Oxzion/test</directory>
        </testsuite>
        <testsuite name="Callback Fixtures">
            <directory>./module/Callback/test</directory>
        </testsuite>
        <testsuite name="User Fixtures">
            <directory>./module/Organization/test</directory>
            <directory>./module/Alert/test</directory>
            <directory>./module/User/test</directory>
            <directory>./module/Email/test</directory>
            <directory>./module/Group/test</directory>
            <directory>./module/Contact/test</directory>
            <directory>./module/Privilege/test</directory>
            <directory>./module/Search/test</directory>
            <directory>./module/ProspectResearch/test</directory>
            <directory>./module/PaymentGateway/test</directory>
        </testsuite> 
        <testsuite name="Form File Fixtures">
            <directory>./module/File/test</directory>
        </testsuite>
        <testsuite name="Dive Insurance Fixtures">
            <directory>../../clients/DiveInsurance/test/</directory>
        </testsuite>
        <testsuite name="BridgeMed Fixtures">
            <directory>../../clients/BridgeMed/test/</directory>
        </testsuite>
    </testsuites> 
    <php>
        <ini name="memory_limit" value="500M" />
        <const name="enableNLP" value="0"/>
        <const name="enableCamunda" value="0"/>
        <const name="enableElastic" value="0"/>
        <const name="enableMattermost" value="0"/>
        <const name="enableActiveMQ" value="0"/>
        <const name="enableCamel" value="0"/>
        <const name="enableProspectResearch" value="0"/>
        <const name="enableCamundaForDeployApp" value="0"/>
        <const name="enableExecUtils" value="0"/>
    </php>
    <listeners>
        <listener class="\MyBuilder\PhpunitAccelerator\TestListener"/>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
</phpunit>
