[Unit]
Description=Apache ActiveMQ
After=network.target
[Service]
Type=forking
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/app/activemq/
User=activemq
Group=activemq
#path to executable. 
ExecStart=/app/activemq/bin/activemq start
ExecStop=/app/activemq/bin/activemq stop
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
