[Unit]
Description=Oxzion UI
[Service]
User=oxzion
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/app/view/bos
#path to executable. 
#executable is a bash script which run the server
ExecStart=/app/view/init.d/run.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oxzionui
[Install]
WantedBy=multi-user.target