[Unit]
Description=Apache ActiveMQ
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=activemq
After=network.target
[Service]
Type=forking
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/activemq/
User=activemq
Group=activemq
#path to executable. 
ExecStart=/opt/activemq/bin/activemq start
ExecStop=/opt/activemq/bin/activemq stop
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
