// ---SweetAlert2 Fixes (Start)---

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100% !important;
  overflow-y: visible !important;
}

.osjs-panel-item--icon.in-window{
  display: none;
}

.osjs-window-icon{
  div{
    display: none;
  }
}

.swal2-shown {
  overflow: visible !important;
}

.swal2-title {
  white-space: pre-line;
}

.swal2-icon.swal2-warning::before {
  content: unset;
}
// ---SweetAlert2 Fixes (End)---

.k-list-scroller {
  font-size: 14px;
}

.k-popup {
  padding: 0px;
}

.Window_ArrowHead {
  $primary-color: #1e1246;
  $secondary: #55b089;
  $secondary-dark: #282b2d;
  $secondary-light-grey: #7b7878;

  .osjs-window-title{
    color: $primary-color;
  }

  .formContent {
    height: 100%;
    overflow: scroll;
    font-size: xx-small;

    padding: 10px;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: $primary-color;
  }
  .btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .btn-secondary {
    color: #ffffff;
    background-color: $secondary;
    border-color: $secondary;
  }

  .btn-secondary.formio-button-remove-row {
    background-color: #f04124;
    border-color: #f04124;
  }

  .formio-component-multiple {
    .btn-secondary {
      background-color: #f04124;
      border-color: #f04124;
    }
  }

  .bg-primary {
    background-color: $primary-color !important;
  }

  .k-button.k-primary {
    /*border-color: $primary-color;*/
    color: #fff;
    /*background-color: $primary-color;*/
  }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .form-control:focus {
    border-color: $primary-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #275362b8;
  }

  .page-link {
    color: $primary-color;
  }

  .inlineCheckboxes {
    .form-radio.radio {
      .form-check-inline {
        padding-bottom: 12px;
        padding-left: 1px;
        margin-right: 1rem;
      }
    }
  }

  .hideModelLabel {
    .formio-component-modal-wrapper {
      div[ref="openModalWrapper"] {
        br {
          display: none;
        }
        label.control-label {
          display: none;
        }
      }
    }
  }

  .locationsDataGrid {
    .form-group {
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    tr[ref="datagrid-locations-row"] {
      td[ref="datagrid-locations"] {
        padding: 0.5rem;
        padding-top: 7px !important;
      }
    }
    tr[ref="datagrid-buildings-row"] {
      td[ref="datagrid-buildings"] {
        padding: 0.5rem;
        padding-top: 7px !important;
      }
    }
    .formio-component-modal-wrapper-well {
      height: 35px;
      div[ref="openModalWrapper"] {
        label.control-label {
          display: none;
        }
        br {
          display: none;
        }
      }
    }

    .locHidden {
      display: none;
    }
    .addBuildingButton {
      padding-bottom: 5px;
      height: 35px;
    }
  }

  .dolModel {
    .card-body:first-child {
      padding-bottom: 0px;
    }
  }

  .dolContainer {
    margin-bottom: 0px;
  }

  .listViewTitles {
    text-align: center;
  }

  // .formio-component-pollutionLiabilityUnderwritingSurvey,
  // .formio-component-underwritesurvey {
  //   tr:first-child {
  //     td {
  //       // style only first td
  //       width: 50%;
  //     }
  //   }
  // }

  .financeDataGrid {
    tr {
      td {
        padding: 0.5rem;
        padding-top: 7px !important;
        .financialColumns .firstLineFinancials {
          height: 36px;
        }
      }
    }
    .locationSumColumn > div.col-md-push-0 {
      padding: 10px;
      // height: 46px;
    }
  }

  .table.datagrid-table.table-bordered {
    th {
      background-color: $primary-color;
      color: #ffffff;
    }
  }
  .formio-dialog-buttons button.formio-dialog-button {
    background-color: $secondary;
  }

  .formio-component-modal-wrapper {
    .formio-dialog-close.float-right.btn.btn-secondary {
      background-color: $primary-color;
      border: solid 4px lightgray;
    }
    .formio-dialog-close:before {
      font-size: 25px;
      font-weight: bolder;
      color: white;
    }
    .formio-dialog {
      .formio-dialog-buttons {
        .btn-success.formio-dialog-button {
          float: left;
        }
      }
    }
  }

  #floater {
    position: fixed;
    background-color: #f8f9fa;
    bottom: 15px;
    right: 30px;
    pointer-events: none;
    img {
      height: 40px;
      width: auto;
      pointer-events: none;
      opacity: 0.8;
    }
    .helpText {
      position: absolute;
      display: flex;
      top: 28px;
      width: max-content;
      text-align: center;
      left: -200px;
      p {
        border-radius: 30px;
        pointer-events: all;
        background-color: #f0f8ff94;
        padding: 3px;
        font-size: 15px;
        a {
          padding-left: 5px;
        }
      }
    }
  }

  .policyStatusReview {
    background-color: #faaa2c;
    color: $secondary-dark;
  }

  .policyStatusFailed {
    background-color: #ec5b4f;
    color: white;
  }

  .btn-wizard-nav-submit {
    display: none;
  }

  .producerCode {
    text-align: right;
    color: #212529;
    padding: 8px;
    padding-right:10px;
    margin: 5px;
    border-radius: 5px;
    font-size: small;
    border:2px black solid;
  }
  .totalClaimsAmount {
    text-align: center;
    color: #212529;
    background-color: $secondary;
    padding: 8px;
    border-radius: 25px;
  }

  .totalClaimsAmountMini {
    text-align: center;
    color: #212529;
    background-color: $secondary;
    padding: 4px;
    border-radius: 20px;
  }

  .claimsMiniListView {
    .k-header.k-grid-toolbar {
      background-color: $primary-color;
      color: #f8f9fa;
      padding: 0.65rem 1.25rem;
      .namedInsuredtext {
        font-family: "Lato", sans-serif;
        margin-bottom: 0px;
        font-size: 15px;
      }
    }
  }

  .Navigation .appButtons {
    height: 85%;
    .moduleBtn {
      .titles {
        color: $primary-color;
      }
      .block {
        background-color: $primary-color;
      }
    }
  }

  .formLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    font-size: xx-large;

    .fa-spin {
      font-size: xxx-large;
    }
    div {
      padding-left: 15px;
    }
  }
}
