// ---SweetAlert2 Fixes (Start)---

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100% !important;
  overflow-y: visible !important;
}

.swal2-shown {
  overflow: visible !important;
}

.swal2-icon.swal2-warning::before {
  content: unset;
}
// ---SweetAlert2 Fixes (End)---

.k-list-scroller {
  font-size: 14px;
}

.k-popup {
  padding: 0px;
}

.gridActions .manage-btn{
  // width: 70px!important;
  border-radius: 7px!important;
  font-weight: unset!important;
  font-family: inherit!important;
}

.osjs-window[data-id="Window_DiveInsurance"] {
  $primary-color: #053b6d !important;
  .policyError{
    color : red;
  }
  .formContent {
    height: 100%;
    overflow: scroll;
    font-size: xx-small;

    padding: 10px;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: $primary-color;
  }
  .btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .k-button.k-primary {
    /*border-color: $primary-color;*/
    color: #fff;
    /*background-color: $primary-color;*/
  }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .form-control:focus {
    border-color: $primary-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #275362b8;
  }

  // Changing the Icon cursor from Pointer to Auto
  .osjs-window-icon > div {
    cursor: auto !important;
  }
  .page-link {
    color: $primary-color;
  }
  .bg-primary {
    background-color: $primary-color;
    color: white;
  }

.Navigation .appButtons .moduleBtn .block{
    background-color: #053b6d;
}
  .iframeDoc {
    height: 100% !important;
    min-height: 650px !important;
    width: 100% !important;
    height: -moz-available;
    height: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
  }

  #floater {
    position: fixed;
    bottom: 12px;
    right: 15px;
    pointer-events: none;
    img {
      height: 40px;
      width: auto;
      pointer-events: none;
      opacity: 0.8;
    }
    .helpText {
      position: absolute;
      display: flex;
      top: 27px;
      width: max-content;
      text-align: center;
      left: -280px;
      p {
        padding: 3px;
        font-weight: bolder;
        font-size: 14px;
      }
    }
  }
}
