body{
	font-family: "Times New Roman",serif;
	font-family: normal;
}

/* footer */
.footer_line{
  margin-bottom: 1px;
  margin-top:1px;
  font-size: 13px;
}
.footer{
  display: block;
  width:100%;
}

.footer1{
  vertical-align: top;
  width:40%;
  display:inline-block;
  margin-top: 0px;
}

.footer2{
  vertical-align: top;
  width:10%;
  text-align: center;
  display:inline-block;
  margin-top: 0px;
  margin-left: 20px;
  margin-right:20px;
}

.footer3{
  vertical-align: top;
  width:40%;
  display:inline-block;
  margin-top: 0px;
  margin-left: 4%;
}
.hrtag{
	background-color:black;
	margin-bottom: 0px;
	height: 1px;
}
.hrtag1{
	background-color: black;
	height: 1px;
	margin-top: 0px;
}
.footer_title{
	margin-top: 0px;
	margin-bottom: 0px;
}
.img{
	margin-top: 1px;
	margin-bottom: 0px;
}
.hrtag2{
	margin-top: 0px;
}


/* header */

.line1{
	padding: 0px;
	margin-bottom:1px;
	height:0.1px;
	margin-left: 0px;
	margin-right:0px;
	margin-top:5px;
}
.line2{
	padding: 0px;
	margin-top:1px;
	height:0.1px;
	margin-left: 0px;
	margin-right:0px;
}
.spacer{
	margin:0px;
	height:3px;
	background-color: black;
}
.title1{
	font-size: 25px;
	margin: 0px;
}

.content{
	width : 100%;
	margin-bottom: 20px;
}
.content1{
	float:left;
	width : 55%;
	display: inline-block;
}
.content2{
	float:left;
	width : 45%;
	display: inline-block;
}
.caption{
	margin-left: 20px;
}
.caption2{
	margin-left:20px;
	margin-top: 20px;
}
.info{
	margin-left: 30px;
	font-family: sans-serif;
	font-style: normal;
	font-size: 13px;
	margin-bottom:1px;
	margin-top:0px;
	padding: 0px;
	letter-spacing: 1px;
}
.caption1{
	margin-top:10px;
	margin-bottom: 10px;
}
.details{
	margin-left: 20px;
	font-family: sans-serif;
	font-style: normal;
	font-size: 13px;
	margin-bottom:1px;
	margin-top:0px;
	padding: 0px;
	letter-spacing: 1px;
}
.certificate_data{
	width :35%;
	float:left;
	display:inline-block;
}
.certificate_data1{
	width :65%;
	float:left;
	margin-bottom: 10px;
	display:inline-block;
}
.p_margin{
	margin-top: 0px;
	margin-bottom: 5px;
}
.p_margin1{
  margin-top: 23px;
  margin-bottom: 5px;
}
.policy{
	font-family: sans-serif;
	margin-top:0px;
	margin-bottom: 1px;
	font-size: 16px;
}
.policy2{
	font-family: sans-serif;
	margin-top: 5px;
	font-size: 16px;
	margin-bottom: 0px;
}
.spacing{
	margin-bottom:50px;
	width:100%;
	display: block;
}
.hr_caption{
	margin-right: 20%;
}
.main_div{
	margin-bottom: 25%;
	padding-bottom: 5%;
}
.page_value{
    margin-top:10%;
}
.page_no{
	margin-bottom: 0px;
	font-size: 13px;
	margin-left:80%
}

/*body*/
.title{
	margin-bottom: 0px;
	margin-top:0px;
  font-weight:bold;
}

.section1{
  width:100%;
  margin-bottom:0px;
  margin-top:0px;
  margin-left:20px;
}

.sectiona{
  width:50%;
  float:left;
}

.sectionb{
  width:50%;
  float:left;
}
.section_div{
  width:100%;
  margin-bottom: 10%;
}
.section_divi{
  width:100%;
}
.div_section{
  float:left;
  margin-left: 20px;
  width:58%;
}
.div_section1{
  margin-left:5px;
  float:left;
  width:35%;
}
.sec1{
  width:58%;
  float:left;
}
.sec2{
  width:8%;
  float:left;
}
.sec3{
  width:32%;
  float:left;
}


.sec4{
  float:left;
  width:40%;
}
.sec5{
  float:left;
  width:40%;
}
.sec9{
  width:58%;
  float:left;
  margin-left:15px;
}
.hr_title{
   margin-bottom:0px;
   margin-top:1px;
}
.sec_title{
  margin-top:1px;
  margin-bottom: 1px;
}
.sec_titl{
  margin-top:1px;
  margin-bottom: 1px;
}
.secA{
  margin-left:15px;
}
.hull{
  margin-top:1px;
  margin-bottom:1px;
}
.hull_title{
  margin-top:1px;
  margin-bottom:1px;
  font-size:15px;
}
.hr_secA{
  margin-bottom:1px;
}
.secB{
  margin-left: 15px;
  margin-bottom:0px;
}


.total{
  margin-left: 60%;
}
.totalp{
  float:right;
}
.total_hr{
  margin-left: 70%;
}
.nav{
  margin-top: 1px;
  margin-bottom:1px;
 }
 .nav_title{
    margin-top: 1px;
  margin-bottom:1px;
  font-size:15px;
 }

 .main_sec{
   width:100%;
 }

 .sector{
   width:50%;
   float:left;
 }

 .sector3{
   width:50%;
   float:left;
 }

 .sector1{
   width:50%;
   float:left;
 }
 .sector4{
   width:70%;
   float:left;
 }
 .sector2{
   width:50%;
   float:left;
 }
 .sector5{
   width:30%;
   float:left;
 }
 