body {
    font-family: "Times New Roman", serif;
    font-family: normal;
}

.line1 {
    padding: 0px;
    margin-bottom: 1px;
    height: 0.1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

.line2 {
    padding: 0px;
    margin-top: 1px;
    height: 0.1px;
    margin-left: 0px;
    margin-right: 0px;
}

.spacer {
    margin: 0px;
    height: 3px;
    background-color: black;
}

.title1 {
    font-size: 20px;
    margin: 0px;
}

.title2 {
    width: 100%;
}

.title3 {
    font-size: 16px;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: sans-serif;
}

.claims_title {
    margin-top: -4px;
    margin-bottom: -2px;
    width: 70%;
    float: left;
    display: inline-block;
}

.page_value {
    margin-top: -3px;
    width: 30%;
    float: left;
    display: inline-block;
}

.claims {
    position: relative;
    top: 10px;
    left: 55%;
    margin-top: 1px;
    font-size: 20px;
}

.page_no {
    position: relative;
    top: 1px;
    left: 64%;
    font-size: 13px;
}

.content {
    width: 100%;
    margin-bottom: 20px;
}

.content1 {
    float: left;
    width: 55%;
    display: inline-block;
}

.content2 {
    float: left;
    width: 45%;
    display: inline-block;
}

.caption {
    margin-left: 20px;
}

.caption2 {
    margin-left: 20px;
    margin-top: 20px;
}

.info {
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.caption1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.details {
    margin-left: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.certificate_data {
    width: 40%;
    float: left;
    display: inline-block;
}

.certificate_data1 {
    width: 60%;
    float: left;
    margin-bottom: 10px;
    display: inline-block;
}

.p_margin {
    margin-top: 0px;
    margin-bottom: 5px;
}
.p_margin1{
    margin-top: 0px;
    margin-bottom: 1px;
}

.policy {
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 16px;
}

.policy2 {
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 0px;
}

.spacing {
    margin-bottom: 50px;
    width: 100%;
    display: block;
}

.i_type {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.i_type1 {
    display: inline-block;
    width: 60%;
    float: left;
    margin-bottom: 5px;
}

.right1 {
    width: 45%;
    display: inline-block;
    float: left;
}

.right2 {
    width: 55%;
    display: inline-block;
    float: left;
}

.i_type2 {
    display: inline-block;
    width: 40%;
    float: left;
    margin-bottom: 5px;
}

.i-type {
    display: inline-block;
    width: 40%;
    float: left;
}

.in-type {
    width: 37%;
    float: left;
}

.in-type1 {
    width: 63%;
    float: left;
}

.ins_type {
    margin-top: 0px;
    margin-left: 15px;
    font-size: 14px;
}

.ins_data {
    margin-left: 20px;
}

.ins_font {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 1px;
}

.ins_font1 {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 1px;
}

.hrtag {
    margin-top: 5px;
    margin-bottom: 0px;
}

.policy_notice1 {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    text-align-last: center;
}

.phy_add {
    margin-top: 1px;
    margin-bottom: 1px;
}

.hrtag1 {
    background-color: black;
    height: 1px;
    margin-top: 4px;
}

.spacing1 {
    margin-bottom: 4px;
}

.second_content {
    margin-left: 30px;
    margin-right: 30px;
}

.policy_update {
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 15px;
}

.policy_status {
    margin-top: 3px;
    margin-left: 7px;
    margin-bottom: 0px;
    font-size: 15px;
}

.policy_notice {
    margin-top: 1px;
    font-size: 12px;
}

.footer {
    width: 100%;
    display: block;
}

.footer1 {
    vertical-align: top;
    width: 35%;
    display: inline-block;
}

.footer2 {
    vertical-align: top;
    width: 35%;
    margin-top: 0px;
    display: inline-block;
    margin-left: 27%;
}

.footer_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.img {
    margin-top: 1px;
    margin-bottom: 0px;
}

.hrtag2 {
    margin-top: 0px;
}

.notice {
    font-size: 20px;
}


/*Additional Insured*/

.ai_title {
    font-size: 13px;
}

.ai_margin {
    margin-left: 20px;
}

.ai_list {
    margin-left: 5px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 3px;
    letter-spacing: 1px;
}


/*EFR*/

.efr_title {
    margin: 0px;
}

.efr_bold {
    font-size: 30px;
    letter-spacing: 1px;
    margin-left: 2%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.efr_title2 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 2%;
    font-size: 15px;
}

.spacing_efr {
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.info_efr {
    width: 70%;
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.info_efr1 {
    width: 50%;
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.info_ni {
    width: 70%;
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.info_ni1 {
    width: 33%;
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.hrtag_efr {
    margin-top: 10%;
    margin-bottom: 0px;
    height: 0.5px;
    background-color: black;
    clear: both;
}

.i_type2_efr {
    display: inline-block;
    width: 45%;
    float: left;
    margin-bottom: 7%;
}

.hr_efr {
    height: 2px;
    background-color: black;
}

.hr_value {
    margin-top: 3%;
}

.note_efr {
    font-size: 15px;
}

.efr_counter {
    width: 50%;
}


/*Group*/

.grp_title1 {
    font-size: 15px;
    margin: 0px;
}

.grp_claims {
    position: relative;
    top: 10px;
    left: 55%;
    margin-top: 1px;
    font-size: 15px;
}

.p_border {
    border: 1px solid;
    margin-bottom: 0px;
    font-size: 10px;
}

.ghr_value {
    margin-top: 25%;
}

.gcontent {
   
    margin-bottom: 2%;
}
.gcontent1{
    width: 100%;   
}

.gpolicy_notice1 {
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    text-align: center;
    letter-spacing: 0.5px;
}

.ghrtag_efr {
    margin-bottom: 0px;
    height: 0.5px;
    background-color: black;
}

.gi_type1 {
    display: inline-block;
    width: 70%;
    float: left;
    margin-bottom: 5px;
}

.gi_type2 {
    display: inline-block;
    width: 30%;
    float: left;
    margin-bottom: 5px;
}

.gi_type {
    width: 100%;
    margin-bottom: 11%;
}

.ai_list {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 13px;
    text-transform: uppercase;
}

.grp_add {
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.grp_hr_value {
    margin-top: 3%;
}

.footer_html {
    font-size: 13px;
}

.named_div {
    width: 100%;
}

.named_div1 {
    width: 10%;
    float: left;
}

.named_div2 {
    width: 25%;
    float: left;
}

.named_div3 {
    width: 20%;
    float: left;
}

.named_div4 {
    width: 10%;
    float: left;
}

.named_div5 {
    width: 5%;
    float: left;
}

.named_div6 {
    width: 15%;
    float: left;
}

.named_div7 {
    width: 15%;
    float: left;
}

.div_spacing {
    margin-top: 10%;
}

.t_title {
    font-size: 13px;
}

.t_title1 {
    font-size: 14px;
}


/* footer */

.footer_line {
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 13px;
}

.gfooter {
    display: block;
    width: 100%;
}

.gfooter1 {
    vertical-align: top;
    width: 40%;
    display: inline-block;
    margin-top: 0px;
}

.gfooter2 {
    vertical-align: top;
    width: 10%;
    text-align: center;
    display: inline-block;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.gfooter3 {
    vertical-align: top;
    width: 40%;
    display: inline-block;
    margin-top: 0px;
    margin-left: 4%;
}

.ghrtag {
    background-color: black;
    margin-bottom: 0px;
    height: 1px;
}

.ghrtag1 {
    background-color: black;
    height: 1px;
    margin-top: 0px;
}

.gfooter_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.gimg {
    margin-top: 1px;
    margin-bottom: 0px;
}

.ghrtag2 {
    margin-top: 0px;
}

td,
th {
    text-align: left;
}

.flex-container {
    display: block;
    width: 100px;
}

.marginTop {
    margin-top: 40px;
}

.policy_notice_div {
    clear: both;
}

.grp_caption {
    margin-left: 20px;
    font-size: 13px;
}

.grp_caption2 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 13px;
}

.grpp_margin {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 13px;
}

.grpp_margin1 {
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 13px;
}

.grp_info1 {
    width: 100%;
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.grp_info3 {
    width: 70%;
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.grp_info2 {
    width: 45%;
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.grp_info {
    margin-left: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.grp_caption1 {
    margin-bottom: 10px;
}

.grp_details {
    margin-left: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.grpp_margin {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 12px;
}

.grpins_font {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 1px;
}

.grppolicy_notice {
    margin-top: 1px;
    font-size: 10px;
    letter-spacing: 0.5px;
}

.grpai_list {
    margin-left: 5px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 3px;
    letter-spacing: 1px;
    font-size: 12px;
}

.grp_endoUpgrade {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.policyfont {
    font-size: 12px;
}
.cancelFont {
    font-size: 5px;
}